#st-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5) url("img/Ripple-2s-200px.gif") center center no-repeat;
    top: 0;
    left: 0;
    min-height: 200px;
}
